
body{background:#F5F5F5;}
#header{height: 31px;background:#f2f2f2;border-bottom:1px solid #ddd;}
#header{
    >.container{padding:0;height: 31px;}
}

.home{display:inline-block;height:30px;line-height:30px;margin-left:20px;font-size:12px;color:#333;padding:0 20px;}
.home-i{padding:0 5px;}
.header-r{float:left;}
.a1{font-size:12px;color:#333;padding:0 20px;line-height:30px;border-right:1px solid #ddd;}
.a2{padding-left:35px;}
.i1{margin-right:6px;}
.i2{margin-left:6px;font-size:12px;}
.i3{color:#f00;}
.span1{display:inline-block;width: 25px;height: 20px;background:#f00;color:#fff;line-height:22px;font-size:12px;border-radius:5px;position:absolute;right:196px;top:5px;}
#header-top{height: 90px;}
#header-top{background:#fff;
    >.container{height: 90px;}
}
.png{height: 90px;}
.seek{width: 482px;height: 90px;margin-left:120px;}
.seek-t{height:36px;border-radius:0 6px 6px 0;background:#fff;width: 480px;border:1px solid #f07;margin-top:20px;}
.seek-tl{position:relative;float:left;width: 60px;text-align:center;}
.goods{display:block;height: 34px;line-height:36px;color:#f07;font-size:12px;}
.goods-b{display:none;position:absolute;width: 60px;border:1px solid #e5e5e5;border-top:1px solid #f07;background:#fff;}
.seek-tl:hover>ul{display:block;}
.seek-tl>ul>li:hover{color:#f04;}
.goods-b{
    li{
        a{color:#f07;}
    }
}
.seek-form{height: 34px;overflow:hidden;}
.te-xt{display:block;overflow:hidden;width: 305px;height: 34px;line-height:34px;padding:6px 0 6px 10px;border:none;color:#999;font-size:12px;}
.search{height:34px;line-height:34px;width:100px;background:#f07;border:none;font-size:16px;color:#fff;border-radius:0 5px 5px 0;}
.goodslist{height: 20px;overflow:hidden;margin-top:5px;}
.goodslist{
    >a{float:left;margin-right:10px;color:#333;}
    >a:hover{color:#ff4466;}
    }
.imgurl{width: 220px;height: 90px;}
#nav{height: 42px;border-bottom:2px solid #f07;}
#nav{
    >.container{height:42px;}
}

.motif{width:256px;height: 40px;overflow:hidden;position:relative;border-radius:5px 5px 0 0;background:#f07;line-height:40px;}
.motif{
    >a{color:#fff;font-size:18px;margin-left:20px;line-height:20px;} 
}
.shop{height: 40px;line-height:40px;}
.shop{
    >a{padding:0 20px;color:#333;border-right:1px solid #ddd;font-size:18px;}
    >a:nth-child(2){border-right:none;}
    >a:hover{color:#f07;}
}
.nav-mian{height: 440px;margin-bottom:15px;background-color:rgb(250,186,189);}
.nav-mian{
    >.container{height:440px;}
}

.nav-b{width: 256px;height: 440px;background-color:rgba(255,255,255,0.8);position:relative;z-index:100;background:#FEE6E1;}
.nav-bli{height: 31px;overflow:hidden;}
.nav-dl{padding:5px 0 5px 18px;border-left:2px solid transparent;overflow:hidden;}
.nav-dt{float:left;}
.nav-a{font-size:14px;font-weight:600;color:#333;}
.nav-dd{float:left;height:21px;line-height:25px;}
.nav-span{display:inline-block;height:100%;}
.nav-span{
    >a{display:inline-block;height:100%;float:left;font-size:12px;font-weight:normal;color:#666;margin-left:20px;}
}
.nav-a1,.nav-a3{color:#ff0077!important;}
.user_info{width:166px;height: 420px;margin-top:10px;}
.base_info{position:relative;width: 166px;height: 195px;padding-top:10px;background-color:rgba(255,255,255,0.8);background:#FEE6E1;}
.avatar{display:block;width: 72px;height: 72px;margin:0 auto 0 auto;border-radius:50%;background:#ff94c6 url(https://s10.mogucdn.com/p2/160826/upload_7a9719cl61k83h5cbkc9fl1330i5c_60x64.png) no-repeat center center;background-size:30px 30px;}
.member{position:absolute;top:58px;right:47px;height:24px;width:24px;}
.welcome{font-size:12px;margin:5px 0 7px 0;text-align:center;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;width:100%;}
.name{font-weight:bold;width: 90%;white-space:nowrap;text-align:center;margin:0 auto;text-overflow:ellipsis;overflow:hidden;}
.privileged{display:block;width: 72px;height: 24px;border:1px solid #ff5777;font-size:12px;color:#ff5777;margin:0 auto;line-height:24px;}
.privileged-text{margin:0 12px;}
.foot_wrapper{margin-top:10px;width: 166px;height: 205px;background-color:rgba(255,255,255,0.8);background:#FEE6E1;}
.user-propa{display:block;width: 100%;height: 100%;overflow:hidden;}
.propaganda {width: 100%;height: 75px;margin: 0 auto;line-height: 1.4;text-align: center;}
.top_title {font-size: 16px;color: #333;padding-top: 20px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;width: 100%;}
.live_show {width: 130px;height: 130px;overflow: hidden;margin: 0 auto;}

.mask{width: 61px;height: 61px;position: absolute;top: 50%;left: 50%;margin: -31px 0 0 -31px;border-radius: 100%;z-index: 2;
    >img{width: 100%;}
}

#mian-time{height: 454px;margin-bottom:48px;
    >.container{height: 454px;}
}
.time-shop{overflow:hidden;width: 100%;height: 294px;background:#fff;margin-bottom:10px;position:relative;}
.big-banner{display:block;width: 230px;height: 294px;overflow:hidden;background-size:cover;background-image: url(https://s10.mogucdn.com/mlcdn/c45406/180423_4c1k410gfcjj100b7ck185ldbc1d4_460x588.png_300x9999.v1c7E.webp);background-repeat: no-repeat;}
    

.big-fl{width: 960px;height: 294px;}
.mslide{position:relative;height: 294px;background:#fff;}



.banners{position:relative;width:960px;height:294px;overflow:hidden;
    >ul{position:absolute;overflow:hidden;width:3840px;height:294px;}
    >ul{
        >li{float:left;width:920px;height:294px;padding:0 20px;}
    }
    } 

.box1-b{width: 190px;height: 248px;padding:30px 20px 16px 20px;float:left;}

.goods-image{width: 190px;height: 190px;overflow:hidden;display:block;
    >img{width: 190px;height: 264px;}
}
.goods-title{color:#666;font-size:16px;height: 22px;line-height:20px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;display:block;margin-top:13px;margin-bottom:2px;padding:0 10px;}
.goods-price{position:relative;top:-5px;padding:0 10px;}
.goods-price{
    em{display:inline-block;color:#FF486D;font-size:22px;float:left;}
    del{display:inline-block;font-size:14px;color:#999;margin-left:10px;float:right;position:relative;top:9px;}
}

.mslide_toggle_btn{display:block !important;width: 25px !important;height:54px !important;background-size:cover;margin-top:-25px !important;position:absolute;top:140px;background:#999;text-align:center;line-height:54px;font-size:16px;color:#fff;text-decoratin:none !important;}
.mslide_next_btn{background-position:-39px 0 !important;border-bottom-left-radius:5px;border-top-left-radius:5px;right:0;}
.mian-bottom{height: 150px;overflow:hidden;}
.mian-bottom{
    .img1:first-child{width: 470px;}
    .img1{width: 230px;height: 150px;display:block;float:left;overflow:hidden;margin-right:10px;}
    .img1:last-child{margin-right:0;}
    .img1{
        >img{width: 100%;}
    }
}
#main-dress{height: 671px;margin-bottom:48px;}
#main-dress{
    >.container{height: 671px;}
}
.main-c{height: 671px;}
.dress{height: 22px;margin:0 0 16px;}
.sideIcon{width: 8px;height: 100%;float:left;margin-right:10px;background:#FFA1B8;}
.cateTitleName{float:left;margin-right:30px;height: 22px;line-height:22px;font-size:20px;font-weight:700;}
.cateLinkBox{height: 22px;float:left;height:100%;font-size:14px;}
.cateLinkBox{
    >a{color:#333;padding:0 16px;border-right:1px solid #333;font-size:14px;}
    >a:hover{color:#FFA1B8;}
}
.woman{height: 633px;}
.woman-l{width: 230px;height: 624px;overflow:hidden;margin-right:10px;position:relative;}
.woman-l{
    >a{
        >img{width: 100%;height: 100%;}
    }
}
.woman-r{width: 950px;height: 633px;overflow:hidden;}
.woman-rt{width: 950px;height: 408px;margin-bottom:10px;position:relative;}
.bannerr{position:relative;width:950px;height:408px;overflow:hidden;}
.bannerr{
    >ul{position:absolute;overflow:hidden;width:4750px;height:408px;}
    >ul{
        >li{float:left;}
    }
    } 
.woman-rc{width: 950px;height: 113px;}
.woman-rb{width: 950px;height: 86px;margin-top:6px;}
.woman-rcl{display:inline-block;width: 470px;height: 113px;margin-right:10px;}
.woman-rcl{
    >img{width: 100%;height: 100%;}
}
.woman-rcc{display:inline-block;width: 230px;height: 113px;margin-right:10px;}
.woman-rcc{
    >img{width: 100%;height: 100%;}
}
.woman-rcr{display:inline-block;width: 230px;height: 113px;}
.woman-rcr{
    >img{width: 100%;height: 100%;}
}
.woman-rb{
    >a{display:inline-block;background:#fff;width: 230px;height: 83px;overflow:hidden;margin-right:6px;position:relative;color:#333;
    }
    >a:last-child{margin-right:0;}
}
.women{display:inline-block;width: 137px;margin:15px 0 0 13px;}
.women{
    >h4{font-size:20px;}
    >p{font-size:14px;color:666;}
}
.woman-rbll{
    >h4{color:#ff5757;}
    
}
.women-l{position:absolute;top:0;right:0;width: 83px;height: 83px;overflow:hidden;}
.women-l{
    >img{width: 100%;height: 100%;transition:all 0.5s;}
}
.woman-rblcl,.woman-rblcr{color:#8cacff;}
.woman-rblr{color:#FF5757;}
.women-l{
    >img:hover{transform:translateY(-5px);}
}
.main-bags{height: 593px;}
.main-bags{
    >.container{height:593px;}
}
.main-b{height: 593px;margin-bottom:48px;}
.bags{height: 555px;}
.bags-l{width: 230px;height: 555px;overflow:hidden;margin-right:10px;position:relative;}
.bags-c{width: 630px;height: 555px;margin-right:10px;position:relative;overflow:hidden;}
.bags-r{width: 310px;height: 555px;overflow:hidden;}
.bags-a{display:block;width: 230px;height: 555px;position:absolute;}
.bags-a{
    >img{width: 100%;height: 100%;}
}
.bags-cn{width: 100%;background:#fff;height: 555px;padding-left:21px;}
.bags-item{width: 182px;height: 233px;margin-right:21px;}
.bags-item{
    >a{display:block;width: 182px;height: 233px;font-size:16px;color:#666;}
    >a{
        >img{width: 100%;height: 182px;}
        >p:nth-child(2){overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
        >p:nth-child(3){font-size:16px;color:#ff5777;margin-top:5px;}
    }
}
.boxb1-b{width: 230px;height: 408px;padding:16px;margin-right:10px;box-sizing:border-box;display:inline-block;border-radius:2px;background:#fff;overflow:hidden;}
.boxb1-b:nth-child(4){margin-right:0;}
.goods-img{display:block;width: 198px;height: 297px;}
.goods-img{
    >img{width: 100%;height: 100%;}
}
//.mslide_prevl_btn{left:16px;background:url('https://s10.mogucdn.com/mlcdn/c45406/180327_3cgej2gb2igbfjbcga60bgki26fal_25x54.png') no-repeat center;}
//.mslide_nextl_btn{right:16px;background:url('https://s10.mogucdn.com/mlcdn/c45406/180327_2c7lk3618ij23ckhdf7i24f57a4ja_25x54.png') no-repeat center;}
// .mslide_toggls_btn{margin-top:-60px;width: 25px;height: 54px;position:absolute;top:50%;}
.mslide_toggles_btn{display:block !important;width: 25px !important;height:54px !important;background-size:cover;margin-top:-25px !important;position:absolute;top:140px;background:#999;text-align:center;line-height:54px;font-size:16px;color:#fff;text-decoratin:none !important;}
.mslide_nextl_btn{background-position:-39px 0 !important;border-bottom-left-radius:5px;border-top-left-radius:5px;right:0;}


