#shops{width: 100%;height: 82px;border-bottom:1px solid #ddd;background:#fff;
    >.container{height: 82px;}
}
.shops-l{width: 508px;height: 82px;
    >a{display:block;width: 40px;height: 40px;float:left;margin:15px 0 0 20px;
    >img{width: 100%;height: 100%;border-radius:50%;}
    }
}
.shops-lc{width: 250px;height: 66px;margin:15px 0 0 10px;float:left;
    >a{display:block;color:#333;}
}
.shops-lcb{position:relative;width: 240px;
    >p:nth-child(1){
        >i{display:inline-block;width: 12px;height: 15px;color:#ff5678;}
    }
    >p:nth-child(2){
        >span{margin-right:5px;
            >b{color:#1aca60;margin-left:3px;}
        }
    }
}
.shops-lr{width: 186px;margin-top:30px;
    >a{display:inline-block;border:1px solid #ddd;text-align:center;line-height:22px;color:#333;text-decoration:none;}
    >a:nth-child(1){width: 84px;height: 22px;margin-right:10px;vertical-align:top;}
    >a:nth-child(2){width: 60px;height: 22px;
    >i{display:inline-block;width: 50px;height: 20px;background:url(//s10.mogucdn.com/pic/150519/sp1ku_iezdizbwmi3temjugezdambqmmyde_1x1.gif) no-repeat 50%;}
    }
}
.shops-r{width: 586px;height: 52px;margin-top:30px;}
.grabble{width: 480px;height: 34px;border:1px solid #f07;border-radius:0 6px 6px 0;background:#fff;overflow:hidden;}
.grabble-l{display:block;overflow:hidden;width: 305px;height: 32px;padding:6px 0 6px 10px;}
.grabble-r{width: 100px;height: 32px;background:#f07;color:#fff;text-align:center;font-size:16px;}
.put{width: 100px;height: 32px;background:#ff1f5c;color:#fff;text-align:center;font-size:16px;border-radius:5px;}
.shop{width: 100%;height: 150px;background:#fff;}
.shop-nav{width: 100%;height: 30px;background:#4d4d4d;
    >.container{height: 30px;
        >ul{height: 30px;line-height:30px;
            >li{float:left;
            >a{color:#fff;padding:0 20px;border-right:1px solid #5c5c5c;text-decoration:none;}
            }
            >li:nth-child(2){
                >a{>i{color:#fff;margin-left:5px;font-size:12px;}}
            }
        }
    }
        
}
.shop-main{width: 100%;height: 2000px;background:#fff;
    >.container{height: 2000px;}
}
.shop-goods{width: 100%;min-height: 680px;margin-top:30px;position:relative;}
.shop-goods-l{width: 1048px;height: 680px;}
.shop-goods-r{width: 140px;height: 680px;}
.shop-pl{width: 400px;height: 680px;margin-right:30px;}
.shop-pr{width: 536px;height: 680px;}
.big-img{width: 400px;height: 600px;overflow:hidden;position:relative;padding-top:100px;}
.middle{width: 100%;height: 400px;;padding:0;border:none;background:#fff;
    >img{width: 100%;height: 100%;vertical-align: middle;}
}
.small{width: 400px;height: 60px;padding:0 32px;margin-top:10px;
    >ul{height: 60px;
    >li{float:left;width: 60px;height: 60px;margin-right:10px;
    >img{width: 100%;height: 100%;}
    }
    }
}
.goods-titles{width: 100%;color:#333;margin-bottom:15px;font-size:24px;}
.discounts{width: 100%;background:#f6f6f6;
    >dl{width: 536px;height: 32px;padding-left:10px;}
}
.price-del{color:#999;
    >dt{height: 32px;line-height:32px;font-weight:normal;
        >del{margin-left:30px;}
    }
}
.price-cx{
    >dt{width: 60px;height: 32px;line-height:32px;color:#999;font-weight:normal;display:inline-block;float:left;}
    >dd:nth-child(2){font-size:24px;font-weight:bold;color:#ef2f23;}
    >dd:nth-child(3){
        >span{color:#999;font-size:12px;margin-right:5px;
        >i{color:#333;}
        }
    }
}
.cd{color:#999;
    >dd{height: 30px;line-height:30px;margin:2px;}
    }
.coupon{width: 526px;height: 32px;margin-left:10px;line-height:32px;
    >span{color:#999;font-size:14px;}
    >p{display:inline-block;height: 32px;
    >span{display:inline-block;height: 22px;border:1px solid #f57;border-radius:4px;line-height:22px;color:#f57;font-size:12px;padding-left:3px;
    >i{display:inline-block;height: 20px;background:#f57;color:#fff;margin-left:3px;}
    }
    }
}
.more{margin-left:140px;}