#header {
  height: 31px;
  background: #f2f2f2;
  border-bottom: 1px solid #ddd;
}

.container {
  padding: 0;
}

.home {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  margin-left: 20px;
  font-size: 12px;
  color: #333;
  padding: 0 20px;
}

.home-i {
  padding: 0 5px;
}

.header-r {
  float: left;
}

.a1 {
  font-size: 12px;
  color: #333;
  padding: 0 20px;
  line-height: 30px;
  border-right: 1px solid #ddd;
}

.a2 {
  padding-left: 35px;
}

.i1 {
  margin-right: 6px;
}

.i2 {
  margin-left: 6px;
  font-size: 12px;
}

.i3 {
  color: #f00;
}

.span1 {
  display: inline-block;
  width: 25px;
  height: 20px;
  background: #f00;
  color: #fff;
  line-height: 22px;
  font-size: 12px;
  border-radius: 5px;
  position: absolute;
  right: 216px;
  top: 5px;
}

#header-top {
  height: 90px;
}

.png {
  height: 90px;
}

.seek {
  width: 482px;
  height: 90px;
  margin-left: 120px;
}

.seek-t {
  height: 36px;
  border-radius: 0 6px 6px 0;
  background: #fff;
  width: 480px;
  border: 1px solid #f07;
  margin-top: 20px;
}

.seek-tl {
  position: relative;
  float: left;
  width: 60px;
  text-align: center;
}

.goods {
  display: block;
  height: 34px;
  line-height: 36px;
  color: #f07;
  font-size: 12px;
}

.goods-b {
  display: none;
  position: absolute;
  width: 60px;
  border: 1px solid #e5e5e5;
  border-top: 1px solid #f07;
  background: #fff;
}

.seek-tl:hover > ul {
  display: block;
}

.seek-tl > ul > li:hover {
  color: #f04;
}

.goods-b li a {
  color: #f07;
}

.seek-form {
  height: 34px;
  overflow: hidden;
}

.te-xt {
  display: block;
  overflow: hidden;
  width: 305px;
  height: 34px;
  line-height: 34px;
  padding: 6px 0 6px 10px;
  border: none;
  color: #999;
  font-size: 12px;
}

.search {
  height: 34px;
  line-height: 34px;
  width: 100px;
  background: #f07;
  border: none;
  font-size: 16px;
  color: #fff;
  border-radius: 0 5px 5px 0;
}

.goodslist {
  height: 20px;
  overflow: hidden;
  margin-top: 5px;
}

.goodslist > a {
  float: left;
  margin-right: 10px;
  color: #333;
}

.goodslist > a:hover {
  color: #ff4466;
}

.imgurl {
  width: 220px;
  height: 90px;
}

#nav {
  height: 42px;
  border-bottom: 2px solid #f07;
}

.container {
  height: 42px;
}

.motif {
  width: 256px;
  height: 40px;
  overflow: hidden;
  position: relative;
  border-radius: 5px 5px 0 0;
  background: #f07;
  line-height: 40px;
}

.motif > a {
  color: #fff;
  font-size: 18px;
  margin-left: 20px;
  line-height: 20px;
}

.shop {
  height: 40px;
  line-height: 40px;
}

.shop > a {
  padding: 0 20px;
  color: #333;
  border-right: 1px solid #ddd;
  font-size: 18px;
}

.shop > a:nth-child(2) {
  border-right: none;
}

.shop > a:hover {
  color: #f07;
}

.nav-mian {
  height: 440px;
}

.container {
  height: 440px;
}

.nav-b {
  width: 256px;
  height: 440px;
  background-color: rgba(255, 255, 255, 0.8);
  position: relative;
  z-index: 100;
  background: #FEE6E1;
}

.nav-bli {
  height: 31px;
  overflow: hidden;
}

.nav-dl {
  padding: 5px 0 5px 18px;
  border-left: 2px solid transparent;
  overflow: hidden;
}

.nav-dt {
  float: left;
}

.nav-a {
  font-size: 14px;
  font-weight: 600;
  color: #333;
}

.nav-dd {
  float: left;
  height: 21px;
  line-height: 25px;
}

.nav-span {
  display: inline-block;
  height: 100%;
}

.nav-span > a {
  display: inline-block;
  height: 100%;
  float: left;
  font-size: 12px;
  font-weight: normal;
  color: #666;
  margin-left: 20px;
}

.nav-a1, .nav-a3 {
  color: #ff0077 !important;
}

.banner {
  position: relative;
  height: 440px;
  overflow: hidden;
}

.banner > a {
  position: absolute;
  overflow: hidden;
}

.banner > a > img {
  background-size: 100%;
  display: block;
  float: left;
}
