#header {
  height: 31px;
  background: #f2f2f2;
  border-bottom: 1px solid #ddd;
}

.container {
  padding: 0;
}

.home {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  margin-left: 20px;
  font-size: 12px;
  color: #333;
  padding: 0 20px;
}

.home-i {
  padding: 0 5px;
}

.header-r {
  float: left;
}

.a1 {
  font-size: 12px;
  color: #333;
  padding: 0 20px;
  line-height: 30px;
  border-right: 1px solid #ddd;
}

.a2 {
  padding-left: 35px;
}

.i1 {
  margin-right: 6px;
}

.i2 {
  margin-left: 6px;
  font-size: 12px;
}

.i3 {
  color: #f00;
}

.span1 {
  display: inline-block;
  width: 25px;
  height: 20px;
  background: #f00;
  color: #fff;
  line-height: 22px;
  font-size: 12px;
  border-radius: 5px;
  position: absolute;
  right: 216px;
  top: 5px;
}

#header-top {
  height: 90px;
}

.png {
  height: 90px;
}

.seek {
  width: 482px;
  height: 90px;
  margin-left: 120px;
}

.seek-t {
  height: 34px;
  border-radius: 0 6px 6px 0;
  background: #fff;
  width: 480px;
  border: 1px solid #f07;
}

.seek-tl {
  position: relative;
  float: left;
  width: 60px;
  text-align: center;
}

.goods {
  display: block;
  height: 34px;
  line-height: 34px;
  color: #f07;
}

.goods-b {
  display: none;
  position: absolute;
  width: 60px;
  border: 1px solid #e5e5e5;
  border-top: 0;
}

.seek-tl:hover > ul {
  display: block;
}

.seek-tl ul > li:hover {
  color: #f04;
}

.goods-b li a {
  color: #f07;
}
