#Cart {
  height: 90px;
  background: #f5f5f5 !important;
}

#Cart > .container {
  height: 90px;
}

.header-topCart {
  height: 90px;
}

.cart-bar {
  width: 494px;
}

.cart-barc {
  width: 494px;
  background: url("https://s18.mogucdn.com/p1/160106/upload_ie3wkzrtmrtdozdfguzdambqgayde_157x23.png") 0 18px repeat-x;
  position: relative;
  height: 23px;
  margin: 0 auto;
  padding: 18px 0 24px;
}

.cart-barl {
  background: url("https://s16.mogucdn.com/p1/160106/upload_ie4wcntcmntdozdfguzdambqgqyde_157x23.png") 23px 0 repeat-x;
  position: absolute;
  top: 18px;
  left: 0;
  width: 90px;
  height: 23px;
}

.cart-barc > span:nth-child(2) {
  left: 0;
}

.cart-barc > span:nth-child(2) > i {
  color: #f46;
}

.cart-barc > span {
  position: absolute;
  top: 18px;
  width: 23px;
  height: 23px;
  color: #fff;
  text-align: center;
  font-size: 14px;
}

.cart-barc > span:nth-child(3) {
  left: 157px;
}

.cart-barc > span:nth-child(4) {
  left: 314px;
}

.cart-barc > span:nth-child(5) {
  left: 471px;
}

.cart-barc > span > i {
  position: absolute;
  top: 24px;
  width: 100px;
  height: 20px;
  left: 50%;
  margin-left: -50px;
  color: #999;
  font-size: 12px;
}

#CartL {
  height: 392px;
  background: #fff;
}

#CartL > .container {
  height: 392px;
}

.goods-list {
  height: 392px;
  padding-top: 30px;
  position: relative;
}

.gli {
  height: 38px;
}

.gli > li {
  float: left;
}

.gli > li > a {
  display: block;
  padding: 1px 0 6px;
  color: #333;
  font-size: 20px;
}

.ga {
  margin-right: 55px;
}

.cart-tab {
  width: 100%;
  height: 256px;
}

.cart-tab > thead {
  height: 50px;
  background: #f5f5f5;
}

.cart-tab > thead > tr {
  height: 48px;
  background: #fff;
  border: 1px solid #e5e5e5;
  font-size: 12px;
}

.cart-tab > thead > tr > th:nth-child(1) {
  text-align: left;
  width: 65px;
  padding-left: 24px;
}

.cart-tab > thead > tr > th:nth-child(2) {
  width: 686px;
  padding: 8px 10px;
}

.cart-tab > thead > tr > th:nth-child(3) {
  width: 140px;
  text-align: left;
}

.cart-tab > thead > tr > th:nth-child(4) {
  width: 76px;
}

.cart-tab > thead > tr > th:nth-child(5) {
  width: 97px;
}

.cart-tab > thead > tr > th:nth-child(6) {
  width: 86px;
}

.cart-tab > thead > tr > th:nth-child(7) {
  width: 64px;
}

.cart-tab > thead > tr > th {
  font-weight: 400;
  padding: 15px 0;
}

.chk {
  margin-right: 5px;
}

tbody {
  height: 205px;
  width: 100%;
}

.cart-tc {
  height: 65px;
  width: 100%;
}

.cart-td {
  padding: 28px 10px 12px 24px;
  background: #fff;
  width: 100px;
}

.cart-tc > td {
  line-height: 24px;
  vertical-align: top;
}

.cart-tc > td > input {
  margin-right: 5px;
}

.cart-tc > td > a {
  font-weight: 700;
  font-size: 12px;
  color: #333;
}

.cart-tb {
  width: 100%;
  height: 140px;
  border: 1px solid #e5e5e5 !important;
}

.cart-tb > td:nth-child(1) {
  padding: 15px 0 15px 24px;
}

.cart-tb > td:nth-child(2) {
  padding: 15px 10px 15px 0;
  width: 280px;
}

.cart-tb > td {
  padding: 15px 0;
  line-height: 24px;
  vertical-align: top;
}

.cart-ta {
  display: block;
  float: left;
  position: relative;
  height: 80px;
  width: 80px;
}

.cart-ta > img {
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
}

.cart-tt {
  display: block;
  margin: 0 20px 0 90px;
  line-height: 20px;
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 80px;
  color: #333;
}

.terms {
  text-align: left;
  margin-top: 5px;
}
