#login {
  height: 97px;
}

#login > .container {
  height: 97px;
}

.log-wrap {
  width: 100%;
  background: #fff;
  padding: 20px 0;
}

.log {
  height: 57px;
}

.logi > img {
  display: inline-block;
  width: 220px;
  height: 52px;
}

.login-logo-tip {
  display: inline-block;
  font-size: 12px;
  width: 861px;
  height: 28px;
  background: #ffefef;
  border: 1px solid #ffc0cc;
  margin-left: 20px;
  text-align: center;
  line-height: 28px;
  color: #666;
  margin-top: 11px;
}

#show {
  width: 100%;
  height: 600px;
  background: url(https://s17.mogucdn.com/p2/170105/upload_541i9di2b3icf9j13f24e0bg7b1i6_1920x600.png) no-repeat center center;
  position: relative;
}

.register, .registers {
  position: absolute;
  top: 80px;
  right: 116px;
  width: 356px;
  height: 380px;
  padding: 0 0 30px 44px;
  background: #ffeceb;
  opacity: 0.9;
}

.code {
  width: 312px;
  height: 380px;
  position: relative;
}

.code-l > span {
  display: inline-block;
  width: 53px;
  height: 53px;
  background: url("https://s10.mogucdn.com/p1/160418/upload_ifrdcojvgftdmmbqhazdambqmeyde_52x53.png") no-repeat;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.code-c {
  position: absolute;
  top: 30px;
  left: 56px;
  height: 70px;
  width: 200px;
  background: url("https://s10.mogucdn.com/p1/160418/upload_ie4wiojrg43dombqhazdambqgqyde_190x37.png") no-repeat;
}

.code-b {
  position: absolute;
  bottom: 74px;
  left: 56px;
}

.code > a {
  position: absolute;
  bottom: 0;
  left: 80px;
  font-size: 18px;
  color: #333;
  text-decoration: underline;
}

.code-hid {
  width: 312px;
  height: 310px;
  position: relative;
}

.code-hidl {
  width: 46px;
  height: 46px;
  position: absolute;
  top: -66px;
  right: 5px;
}

.code-hidl > a {
  display: inline-block;
  width: 46px;
  height: 46px;
  background: url("https://s10.mogucdn.com/p1/160418/upload_ie4tmnzrmuydmmbqhazdambqgqyde_46x46.png") no-repeat;
}

.code-hit {
  height: 70px;
  margin-left: -38px;
}

.mod {
  width: 50%;
  border-bottom: 1px solid #ccc;
  height: 54px;
  float: left;
}

.mod-l {
  width: 119px;
  margin: 10px auto 0;
}

.mod-r {
  width: 119px;
  margin: 10px 30px 0;
}

.mod > a {
  display: block;
  height: 42px;
  line-height: 42px;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  color: #3c3c3c;
}

.mod-b > form > input {
  display: block;
  width: 300px;
  height: 40px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
  padding-left: 4px;
  background: #ffeceb;
}

.form-help {
  background: #ffeceb;
  width: 312px;
  height: 152px;
  margin-bottom: 35px;
}

.bon {
  display: inline-block;
  width: 110px;
  height: 42px;
  line-height: 42px;
  text-align: center;
  color: #fff !important;
  margin-right: 10px;
  background: #ff5777;
  margin-bottom: 15px;
  vertical-align: middle;
  text-decoration: none !important;
}

.auth {
  display: inline-block !important;
  width: 180px !important;
  height: 40px !important;
  border: 1px solid #CFCFCF !important;
  padding: 0 6px !important;
  line-height: 40px !important;
}

.btn {
  color: #fff !important;
  background: #ff5777 !important;
  border: none !important;
  border-radius: 2px;
  margin-bottom: 25px !important;
}

.sub > a {
  font-size: 14px;
  margin-right: 47px;
  color: #444;
}

.sub > a > img {
  margin-right: 6px;
}

.help-block {
  color: #f00;
  font-size: 14px;
}

.forget {
  text-align: right;
  margin: 20px 44px 0 0;
}

.forget > a {
  color: #666;
  font-size: 14px;
}

#foot {
  height: 194px;
  padding: 50px 0 60px 0;
}

#foot > .container {
  height: 186px;
}

.foot-t {
  height: 100px;
  border-bottom: 2px solid #FF5777;
}

.foot-c {
  height: 20px;
  margin-top: 10px;
  overflow: hidden;
}

.foot-b {
  height: 54px;
  margin-bottom: 8px;
}

.foot-tl {
  width: 25%;
  height: 100px;
  float: left;
  text-align: center;
}

.foot-tl > h4 {
  font-size: 14px;
  margin-bottom: 10px;
  color: #555;
  font-weight: bold;
}

.foot-tl > ul {
  width: 200px;
  height: 70px;
  margin: 0 auto;
}

.foot-tl > ul > li {
  float: left;
  display: inline-block;
  width: 80px;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
}

.foot-tl > ul > li > a {
  color: #999;
}

.foot-tl > ul > li > a:hover {
  color: #FF5777;
}

.foot-c > ul {
  height: 20px;
  overflow: hidden;
}

.foot-c > ul > li {
  float: left;
  width: 80px;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
}

.foot-c > ul > span {
  font-size: 12px;
  color: #999;
}

.foot-c > ul > li > a {
  color: #666;
}

.foot-c > ul > li > a:hover {
  color: #FF5777;
}

.foot-b > p {
  font-size: 12px;
  color: #999;
  line-height: 26px;
}

.foot-b > p > a {
  color: #999;
}
